  
		   <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
               <a href="/admin" class="site_title"><i class="fa fa-home"></i> <span style="color: sandybrown; margin-left:600px;">TIMES OF INDIA NEWS-FEED</span></a>
               
            </div>
            <div class="clearfix"></div>
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
               <div class="menu_section">
                  <h3 style="color: saddlebrown;">Dashboard</h3>
                  <ul class="nav side-menu">
             
                 <li style="color: saddlebrown;"><a href="/newsfeed/view">Click Here For Today's Headlines</a></li> 
            
                  </ul>
               </div>
               <div class="menu_section">
                  <ul class="nav side-menu">
               </div>
            </div>
            <!-- /sidebar menu -->
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
               <a data-toggle="tooltip" data-placement="top" title="Settings">
               <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
               </a>
               <a data-toggle="tooltip" data-placement="top" title="FullScreen">
               <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
               </a>
               <a data-toggle="tooltip" data-placement="top" title="Lock">
               <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
               </a>
               <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Logout">
               <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
               </a>
            </div>
            <!-- /menu footer buttons -->
         </div>
      </div>
      <!-- top navigation -->
      <!-- /top navigation -->
    